@page "/"
@page "/Home"
@using KarticeWebApp.Data
@inject NavigationManager NavigationManager

<ul class="list-group">
    <li class="list-group-item fs-3" @onclick="() => NavigationManager.NavigateTo(Links.Spar)">Spar</li>
    <li class="list-group-item fs-3" @onclick="() => NavigationManager.NavigateTo(Links.Omw)">Omw</li>
</ul>