@page "/Omw"

<h1>@Code</h1>
<img src="omw.jpg" alt="@Code" class="img-fluid" style="@_imageStyle" @onclick="() => Utils.RotateImage(ref _rotation, out _imageStyle)">

@code{
    private string Code = "70 5000 4862 466";
    private string? _imageStyle;
    private int _rotation;
}