@page "/Omw"
@using KarticeWebApp.Data
@inject NavigationManager NavigationManager

<h1>@Code</h1>
<img src="omw.jpg" class="img-fluid" alt="Koda: @Code" @onclick="() => NavigationManager.NavigateTo(Links.Home)">

@code{
        private const string Code = "70 5000 4862 466";
}