@page "/Spar"

<h1>@Code</h1>
<img src="spar.jpg" alt="@Code" class="img-fluid" style="@_imageStyle" @onclick="() => Utils.RotateImage(ref _rotation, out _imageStyle)">

@code{
    private string Code = "598 35 335";
    private string? _imageStyle;
    private int _rotation;
}